@import '../styles/colors.scss';

.each-car{
    background: $footer-bg;
    border-radius: 16px;
    padding:12px;
    @include flex(row, space-between,center);
    margin-bottom: 16px;
}

.car-info{
    @include flex(column,start,start); 
    gap:8px;
}


