
@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background: $bg-color;
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 375px;
    width:100%;
    box-sizing: border-box;
    height:--tg-viewport-stable-height;
    touch-action: none !important;

}

.basic-text{
    font-weight: 400;
}

h1{
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;

}
.logo-img{
    margin-bottom: 24px;
}

.header-h1{
    margin-bottom: 8px;
}
.blue-btn{
    background: #4361EE;
    color:#FFF;
    @extend %button
}
.white-btn{
    background: white;
    @extend %button
}
.footer {
    padding: 0 20px;
   display: flex;
   justify-content: center;
   flex-direction: column;
    position: absolute;
    width: 335px;
    bottom:38px;
    .blue-btn{
      margin-bottom: 12px;
 }
 }

.login-section{
    margin-top: 24px;
}

.grey-text{
    font-size: 14px;
    line-height: 20px;
    color:#7E848D;
    font-weight: 400;

}